@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int? floor = ViewBag.floor;
    Tip? tip = ViewBag.tip;
}

@model List<PonudaBO>

<div class="container pt-2">
    <h1 class="text-center mt-4 mb-1">Dostupni apartmani</h1>
    <hr />
    <div class="row mt-4">
        <!-- Filter -->
        <form asp-action="Index" asp-controller="Ponuda" method="get" class="col-md-3">
            <h5>Filtriraj apartmane</h5>

            <div class="mb-3">
                <label class="form-label">Broj soba</label>
                <select name="numOfRooms" class="form-select">
                    <!option  @(ViewBag.numOfRooms == null ? "selected" : "")>Svi apartmani</!option>
                    <!option value="1" @(ViewBag.numOfRooms == 1 ? "selected" : "")>Jednosobni</!option>
                    <!option value="2" @(ViewBag.numOfRooms == 2 ? "selected" : "")>Dvosobni</!option>
                    <!option value="3" @(ViewBag.numOfRooms == 3 ? "selected" : "")>Trosobni</!option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Sprat</label>
                <select name="floor" class="form-select">
                    <!option @(ViewBag.floor == null ? "selected" : "")>Svi apartmani</!option>
                    <!option value="1" @(ViewBag.floor == 1 ? "selected" : "")>Prizemlje</!option>
                    <!option value="2" @(ViewBag.floor == 2 ? "selected" : "")>Prvi sprat</!option>
                    <!option value="3" @(ViewBag.floor == 3 ? "selected" : "")>Drugi sprat</!option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Tip</label>
                <select name="tip" class="form-select">
                    <!option @(ViewBag.Tip == null ? "selected" : "")>Svi apartmani</!option>
                    <!option value="Lux" @(ViewBag.Tip == Tip.Lux ? "selected" : "")>Luksuzni</!option>
                    <!option value="Komfort" @(ViewBag.Tip == Tip.Komfort ? "selected" : "")>Komforni</!option>
                    <!option value="Zlatibor" @(ViewBag.Tip == Tip.Zlatibor ? "selected" : "")>Zlatiborski</!option>
                </select>
            </div>
            <input type="submit" class="btn btn-primary mb-3" value="Primeni filtere" />
        </form>
        <!-- End Filter -->
        <!-- Ponude Section-->
        <div class="col-md-9">
            <!-- Ponude-->
            <div class="row">
                @foreach (PonudaBO ponuda in Model)
                {
                    <div class="col-md-4 mb-4">
                        <div class="card h-100">
                            <img src="~/images/apartments/@(ponuda.Slika).jpg" class="card-img-top" alt="Apartman slika">
                            <div class="card-body d-flex flex-column">
                                <p class="card-title">Cena po danu: @ponuda.CenaPoDanu RSD</p>
                                <div class="flex-grow-1">
                                    <hr>
                                    <p class="card-text m-auto">@ponuda.Opis</p>
                                </div>
                                <hr>
                                <p class="card-text">Broj soba: @ponuda.BrojSoba | Sprat: @ponuda.Sprat | Tip: @ponuda.Tip.ToString()</p>
                                <a href="/Ponuda/Show/@ponuda.PonudaID" class="btn btn-primary">Rezerviši</a>
                            </div>
                        </div>
                    </div>

                }

                <!-- End ponude -->
            </div>
            <!-- End ponuda card-->
        </div>
        <!-- End ponude section -->
    </div>
</div>