@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model PonudaBO;
}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="~/images/apartments/@(Model.Slika).jpg" class="img-fluid rounded mb-3" alt="Apartman slika">
            <h3>@Model.Tip.ToString() apartman @Model.PonudaID</h3>
            <p class="mb-2">@Model.Opis</p>
        </div>
        <div class="col-md-6">
            <form asp-controller="Rezervacija" asp-action="Create" method="post">
                <h1 class="text-centered">Rezervacija</h1>
                <hr />
                <!-- Hidden inputs -->
                <input type="hidden" id="bookedDates" value="@Html.Raw(Json.Serialize(ViewBag.BookedDates))">
                <input type="hidden" name="ponuda_id" value="@Model.PonudaID" />
                <div class="form-group mb-3">
                    <label for="checkin">Datum dolaska</label>
                    <input type="text" class="form-control" id="checkin" name="checkin" readonly>
                </div>
                <div class="form-group mb-3">
                    <label for="checkout">Datum odlaska</label>
                    <input type="text" class="form-control" id="checkout" name="checkout" readonly>
                </div>

                <div class="form-group mb-3">
                    <label for="guests">Broj gostiju:</label>
                    <select class="form-control" id="guests" name="guests" required>
                        @for(int i = 1; i <= Model.BrojKreveta; i++)
                        {
                            <!option value="@i">@i</!option>
                        }
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label for="coupon">Kupon:</label>
                    <input type="text" class="form-control" id="coupon" name="coupon" placeholder="Ukoliko imate kupon, unesite ga ovde">
                </div>
                <div class="form-group mb-3">
                    <!-- TODO Make it reflect actual price-->
                    <p>Subtotal: @Model.CenaPoDanu RSD | Total:  @Model.CenaPoDanu RSD</p>
                </div>

                <button type="submit" class="btn btn-primary">Rezerviši</button>
            </form>
        </div>
    </div>
</div>

<script>
    var bookedDates = @Html.Raw(Json.Serialize(ViewBag.BookedDates));
    console.log(bookedDates);
</script>