@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model PonudaBO;

}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="~/images/apartments/@(Model.Slika).jpg" class="img-fluid rounded mb-3" alt="Apartman slika">
            <h3>@Model.Tip.ToString() apartman @Model.PonudaID</h3>
            <p class="mb-2">@Model.Opis</p>
        </div>
        <div class="col-md-6">
            <form asp-controller="Rezervacija" asp-action="Create" method="post">
                <h1 class="text-centered">Rezervacija</h1>
                <hr />
                <!-- Hidden inputs -->
                <input type="hidden" name="ponuda_id" value="@Model.PonudaID" />

                <!-- DATE PICKERS-->
                <div class="form-group mb-3">
                    <label for="checkin">Datum dolaska</label>
                    <input type="text" class="form-control" id="checkin" name="checkin" readonly placeholder="Kliknite da odaberete datum dolaska">
                </div>
                <div class="form-group mb-3">
                    <label for="checkout">Datum odlaska</label>
                    <input type="text" class="form-control" id="checkout" name="checkout" disabled readonly>
                    <!-- Date validation -->
                    @if (TempData["ErrorDate"] is not null)
                    {
                        @if (!String.IsNullOrEmpty(TempData["ErrorDate"].ToString()))
                        {
                            <span class="text-danger mt-2">
                                @TempData["ErrorDate"].ToString()
                            </span>
                        }
                    }
                </div>
                <!-- Number of guests-->
                <div class="form-group mb-3">
                    <label for="guests">Broj gostiju:</label>
                    <select class="form-control" id="guests" name="guests" required>
                        @for (int i = 1; i <= Model.BrojKreveta; i++)
                        {
                            <!option value="@i">@i</!option>
                        }
                    </select>
                </div>
                <!--Coupon-->
                <div class="form-group mb-3">
                    <label for="coupon">Kupon:</label>
                    <input type="text" class="form-control" id="coupon" name="coupon" placeholder="Ukoliko imate kupon, unesite ga ovde">
                    <!-- Coupon validation -->
                    @if (TempData["ErrorCoupon"] is not null)
                    {
                        @if (!String.IsNullOrEmpty(TempData["ErrorCoupon"].ToString()))
                        {
                            <span class="text-danger mt-2" >
                                @TempData["ErrorCoupon"].ToString()
                            </span>
                        }
                    }
                </div>
                <div class="form-group mb-3">
                    <!-- Value changed with JS -->
                    <p>Subtotal: <span id="subtotal">0</span> RSD | Total:  <span id="total">0</span> RSD</p>
                </div>

                <button type="submit" class="btn btn-primary">Rezerviši</button>
            </form>
            <!-- Message -->
            @if (TempData["ThankYou"] is not null)
            {
                @if (!String.IsNullOrEmpty(TempData["ThankYou"].ToString()))
                {
                    <div class="alert alert-success mt-4 text-center" role="alert">
                        @Html.Raw(@TempData["ThankYou"].ToString())
                    </div>
                }
            }

            @if (TempData["Error"] is not null)
            {
                @if (!String.IsNullOrEmpty(TempData["Error"].ToString()))
                {
                    <div class="alert alert-danger mt-4 text-center" role="alert">
                        @TempData["Error"].ToString()
                    </div>
                }
            }

        </div>
    </div>
</div>

<script>
    var bookedDates = @Html.Raw(Json.Serialize(ViewBag.BookedDates));
    var pricePerDay = @Model.CenaPoDanu;
</script>


@section Scripts {
    <script src="~/js/reservation.js"></script>
}

