@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model PonudaBO;

}

<div class="container col-md-8 mt-5">
    <div class="row card">
        <h1 class="text-center my-3">Dodaj u ponudu</h1>
        <!-- Status messages-->
        @if (!String.IsNullOrEmpty(ViewBag.Message))
        {
            <div class="alert alert-success mt-2 col-8 mx-auto text-center" role="alert">
                @ViewBag.Message
            </div>
        }

        @if (!String.IsNullOrEmpty(ViewBag.Error))
        {
            <div class="alert alert-danger mt-2 col-8 mx-auto text-center" role="alert">
                @ViewBag.Error
            </div>
        }
        <hr />
        <form method="post" asp-action="Create" asp-controller="PonudaAdmin" enctype="multipart/form-data">
            <div class="row gap-2">
                <!-- Image-->
                <div class="col-md">
                    <div class="mb-3">
                        <label class="form-label">Slika:</label>
                        <div class="input-group">
                            <input name="image_file" type="file" class="form-control" id="image-input" />
                        </div>
                        <span class="text-danger">@ViewBag.ImageError</span>
                        <div class="mt-4">
                            <img id="preview-image" class="img-fluid" src="https://via.placeholder.com/800x600.png?text=Slika+Apartmana" />
                        </div>
                    </div>
                </div>
                <!-- Details -->
                <div class="col-md">
                    <div class="mb-3">
                        <label class="form-label">PonudaID:</label>
                        <input type="text" value="ID se kreira automatski" class="form-control" readonly />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Broj Kreveta:</label>
                        <input asp-for="BrojKreveta" type="number" min="1" max="10" class="form-control" value="1" placeholder="Unesite broj kreveta" />
                        <span asp-validation-for="BrojKreveta" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Cena Po Danu:</label>
                        <input asp-for="CenaPoDanu" type="number" min="1" max="100000" class="form-control" value="1" placeholder="Unesite cenu po danu" />
                        <span asp-validation-for="CenaPoDanu" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Tip:</label>
                        <select asp-for="Tip" class="form-select">
                            <option value="@Tip.Zlatibor">@Tip.Zlatibor.ToString()</option>
                            <option value="@Tip.Komfort">@Tip.Komfort.ToString()</option>
                            <option value="@Tip.Lux">@Tip.Lux.ToString()</option>
                        </select>
                        <span asp-validation-for="Tip" class="text-danger"></span>
                    </div>
                    <div class="mb-1">
                        <label Sprat" class="form-label">Sprat:</label>
                        <input asp-for="Sprat" type="number" min="1" max="3" class="form-control" value="1" placeholder="Unesite sprat" />
                        <span asp-validation-for="Sprat" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <!--Description-->
            <div class="mb-1 w-100 py-2">
                <label class="form-label">Opis:</label>
                <textarea asp-for="Opis" class="form-control" rows="3" placeholder="Unesite opis apartmana"></textarea>
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>
            <!-- Actions -->
            <div class="row justify-content-around mb-2">
                <button type="submit" class="btn btn-primary col-4">Sačuvaj</button>
                <a asp-action="Index" class="btn btn-secondary col-4">Nazad</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css" /> <!-- Styling -->
    <script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script> <!--Script -->
    <script src="~/js/admin.js"></script>
}
