@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model List<PonudaBO>
}
<div class="container my-4">
    <h2 class="text-center py-4 my-2">Administratorski panel</h2>
    <hr>
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4 mb-4">
            <a asp-controller="KorisnikAdmin" asp-action="Index" class="card-link text-center text-decoration-none link-dark admin-link">
                <div class="card bg-light ">
                    <div class="card-body">
                        <h5 class="card-title">Korisnici</h5>
                        <p class="card-text">Upravljajte korisničkim profilima</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <a asp-controller="PonudaAdmin" asp-action="Index" class="card-link text-center text-decoration-none link-dark admin-link">
                <div class="card bg-light admin-link-selected">
                    <div class="card-body">
                        <h5 class="card-title">Ponuda</h5>
                        <p class="card-text">Upravljajte apartmanima u ponudi</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <a asp-controller="RezervacijaAdmin" asp-action="Index" class="card-link  text-center text-decoration-none link-dark admin-link">
                <div class="card bg-light ">
                    <div class="card-body">
                        <h5 class="card-title">Rezervacije</h5>
                        <p class="card-text">Upravljajte rezervacijama u sistemu</p>
                    </div>
                </div>
            </a>
        </div>
        <hr />
    </div>
    <!-- Content -->
    <div>
          <!-- Status messages-->
        <div class="col justify-content-center align-content-center my-3">
            @if (TempData["Message"] is not null)
            {
                @if (!String.IsNullOrEmpty(TempData["Message"].ToString()))
                {
                    <div class="alert alert-success mt-4 text-center" role="alert">
                        @TempData["Message"].ToString()
                    </div>
                }
            }

            @if (TempData["Error"] is not null)
            {
                @if (!String.IsNullOrEmpty(TempData["Error"].ToString()))
                {
                    <div class="alert alert-danger mt-4 text-center" role="alert">
                        @TempData["Error"].ToString()
                    </div>
                }
            }
        </div>
        <!-- Table -->
        <div class="table-responsive">
            <table class="table order-column table-hover" id="ponude">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Tip</th>
                        <th>Sprat</th>
                        <th>Broj kreveta</th>
                        <th>Broj rezervacija</th>
                        <th data-orderable="false"></th>
                        <th data-orderable="false">
                            <i class="bi bi-plus-circle icon-add" data-toggle="tooltip" data-placement="right" title="Dodaj ponudu">

                            </i></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (PonudaBO ponuda in Model)
                    {
                        <tr>
                            <td>@ponuda.PonudaID</td>
                            <td>@ponuda.Tip.ToString()</td>
                            <td>@ponuda.Sprat</td>
                            <td>@ponuda.BrojKreveta</td>
                            <td>@ponuda.BrojRezervacija</td>
                            <td><a href="PonudaAdmin/Update/?@ponuda.PonudaID">
                                    <i class="bi bi-info-circle" data-toggle="tooltip" data-placement="right" title="Izmeni ponudu"></i>
                                </a></td>
                            <td>
                                <form asp-action="Delete" asp-controller="PonudaAdmin" method="post" id="delete @ponuda.PonudaID" class="confirm-submit">
                                    <input type="hidden" name="ponudaID" value="@ponuda.PonudaID">
                                    <button type="submit" class="icon-delete">
                                        <i class="bi bi-trash" data-toggle="tooltip" data-placement="right" title="Izbriši ponudu"></i>
                                        </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
    <!-- End Content-->
</div>

<!-- Inject DataTables -->
@section Scripts{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css" /> <!-- Styling -->
    <script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script> <!--Script -->
    <script type="text/javascript" src="~/js/admin.js"></script> <!-- My tables script -->
}
